.footer__nav-list {
  padding-right: 18px;
}

.footer__nav-list:last-child {
  padding-right: 0;
}

@media (max-width: 550px) {
  .footer__nav-list {
    padding-bottom: 32px;
  }
  .footer__nav-list:last-child {
    padding-bottom: 0;
  }
}
